*.class
.target
*.jar
*.war
*.ear
wildfly-sender.iml
.idea
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# eclipse files
.classpath
.project
target
